$main-font: 'DM Sans', sans-serif;
$title-font: 'Titan One', cursive;
$main-title-color: #D41443;
$write-color: #FFFFFF;
$pink-color: #FFA5BA;
$black-color: #000000;
$gray-color: #907E82;
$write-background-color: #FFFFFF;
$pink-background-color: #FFF5F6;
$hover-color: #C7133E;
//Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;